#service-container {
    margin-left:50px;
    margin-right:50px;
}

.service-cards {
    margin-bottom:50px;
    margin-left:50px;
    margin-right:50px;
    }

.service-cards a{
    background-color: #000!important;
    border-color:#000;
}

.card-img-top {
    height: 200px; 
    object-fit: cover; 
}

.carousel-indicators button {background-color:gray!important;}
.carousel-indicators button.active {background-color: black!important;}

#contact {
    text-align:center;
    margin-top:45px;
    padding:20px;
    border-radius:20px;
    border:1px solid gray;
    margin-bottom: 40px;
}



#contactdets h4{
    padding-bottom:15px;
}
#contactdets {
    font-size:18px;
}

#slider {
    width: 80%; 
    margin:auto;
}
.contactbox {
    margin-bottom: 40px!important;
}

#dog-weight {
    text-align: center;
    text-decoration: underline;
}

.form-control {
    margin-bottom:0px!important;
}

#servicesform {
    margin-bottom:20px;
}

.btn-check+.btn {
    background-color: white;
    color:blue
}
#contactdets a{
    color:black;
}


@media (max-width: 600px) {
    #service-container {
        margin:10px;
    }
    .service-cards > div {
        margin-bottom:30px;
        }
    #contactdets {
        padding-top:20px;
        text-align:center;
    }
    .addr{
        padding-right:12px!important;
    }
}