#service-container {
    margin:50px;
}
.service-cards {
    margin-bottom:50px;
    }

.service-cards a{
    background-color: #000!important;
}

.carousel-indicators button {background-color:gray!important;}
.carousel-indicators button.active {background-color: black!important;}

#contact {
    text-align:center;
    margin-top:45px;
    padding:20px;
    border-radius:20px;
    border:1px solid gray;
    margin-bottom: 40px;
}



#contactdets h4{
    padding-bottom:15px;
}
#contactdets {
    font-size:18px;
}

#slider {
    width: 80%; 
    margin:auto;
}

#dog-weight {
    text-align: center;
    text-decoration: underline;
}

.form-control {
    margin-bottom:0px!important;
}

#servicesform {
    margin-bottom:20px;
}

.btn-check+.btn {
    background-color: white;
    color:blue
}
.btn-check:checked+.btn {
    
}


@media (max-width: 600px) {
    #service-container {
        margin:10px;
    }
    .service-cards > div {
        margin-bottom:30px;
        }
}